<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: cornflowerblue;">Captain cool</h1>
        <h1><marquee>Best Wicket Keeper</marquee></h1>
        <p style="color: deeppink;">He is the captain of Chennai Super Kings (CSK) franchise in the Indian Premier League (IPL), leading them to the final on 10 occasions and winning in the 2010, 2011, 2018, 2021 and 2023 editions of the league, as well as winning the Champions League T20 two times, in 2010 and 2014. He is the 7th cricketer have scored more than 5,000 runs in the IPL, as well as being the first wicket-keeper to do so.</p>
    </center>
</body>
</html>