<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: blue;">Best opening batsman</h1>
        <h1>Captain of Indian cricket team</h1>
        <p style="color: rgb(255, 0, 0);">Rohit Gurunath Sharma (born 30 April 1987) is an Indian international cricketer and the current captain of India national cricket team in all formats. Widely regarded as one of the greatest white ball batsmen of this era, Sharma is known for his timing, elegance, six-hitting abilities and leadership skills. He plays as a right-handed batsman for India national cricket team in international cricket, Mumbai Indians in IPL and for Mumbai in domestic cricket. Sharma also captains Mumbai Indians and the team has won 5 titles under his leadership. With India, Sharma was a member of the team that won the 2007 T20 World Cup, and the 2013 ICC Champions Trophy, where he played in the finals of both tournaments. Rohit is one of four players to have played in every edition of the ICC T20 World Cup, from the inaugral edition in 2007 to the latest one in 2022</p>
    </center>
</body>
</html>